.login-page{
    background: #435EFF;  // #c5dfec
}
.login {
    width: 100%;
    height: 100%;
    text-align: center;
    @include bg-cover;
    padding: 82px 0 42px;
    @include breakpoint(desktop){
        height: auto;
    }
    .log-ctnt {
        margin: 0;
        &.employer-account{
            padding-bottom: 42px;
        }
        figure {
            margin-bottom: 32px;
        }

        .login-bg {
            background: $color-W;
            padding: 35px 42px 52px;
            border-radius: 18px;
            max-width: 520px;
            margin: 0 auto;

            h4 {
                color: #08173d;
                font-size: 31px;
                font-family: $montserrat;
                font-weight: $bold;
                margin-bottom: 25px;
                @include breakpoint(desktop){
                    font-size: 28px;
                    margin-bottom: 20px;
                }
            }

            a.google-btn {
                color: #08173d;
                font-size: 22px;
                font-family: $montserrat;
                font-weight: $semi-bold;
                border: 2px solid #ebe9f2;
                border-radius: 42px;
                padding: 0 22px;
                line-height: 2.5;
                display: block;
                @include transition;

                svg {
                    width: 38px;
                    height: 38px;
                    margin-right: 12px;
                }

                &:hover {
                    border-color: $btn-clr;
                    color: $btn-clr;
                }
            }

            .or {
                margin: 25px 0;

                span {
                    position: relative;
                    display: block;

                    &::after {
                        background: #e8e6f1;
                        content: "";
                        height: 2px;
                        left: 0;
                        margin: 0 auto;
                        position: absolute;
                        right: 0;
                        top: 12px;
                        width: 390px;
                    }

                    small {
                        background: #fff;
                        color: #aca9bb;
                        font-family: $montserrat;
                        font-size: 14px;
                        font-weight: $semi-bold;
                        margin: 0;
                        padding: 0 12px;
                        position: relative;
                        z-index: 2;
                    }
                }
            }

            .form-group {
                margin-bottom: 20px;
                text-align: left;

                &.for-pass {
                    text-align: right;

                    a {
                        font-size: 16px;
                        color: $btn-clr;
                        font-weight: $semi-bold;
                        font-family: $montserrat;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }

                label {
                    font-size: 16px;
                    color: #131e4d;
                    font-weight: $semi-bold;
                    font-family: $montserrat;
                    margin-bottom: 2px;
                }

                .form-control {
                    width: 100%;
                    height: 56px;
                    border: 2px solid #ebe9f2;
                    border-radius: 4px;
                    padding: 1px 12px;
                    font-size: 15px;
                    font-weight: $semi-bold;
                    font-family: $montserrat;
                    color: #c4c0d7;
                    box-shadow: none;
                    outline: none;
                }
            }

            .registered {
                margin-top: 20px;
                text-align: left;
                p {
                    margin: 0;
                    font-size: 16px;
                    color: $color-primary;
                    font-weight: $semi-bold;
                    font-family: $montserrat;

                    a {
                        color: $btn-clr;

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }

            .login-ctnt {
                .btn {
                    width: 100%;
                    display: block;
                    border-radius: 42px;
                    font-size: 22px;
                    font-family: $montserrat;
                    font-weight: $semi-bold;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}