@media screen and (min-width:1500px) {
	.container {
		max-width: 1470px;
	}
}

/*** Parameters ***/

// Colors
$color-primary: #151e4a;
$color-secondery: #7bfca0;
$color-W: #fff;
$color-B: #000;
$btn-clr: #1DD3B0;

$employer-color : #3dbd96;
$employer-light-color : #e2fdf5;
$employer-dark-color : #239290;
$employer-extra-light-color : #edfef9;
$recruiter-color : #3e73d2;
$recruiter-light-color : #eef4ff;
$recruiter-extra-light-color : #f8faff;


$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;

// Font Family
$montserrat: 'Montserrat',
sans-serif;

//Font-Weight
$bold:700;
$semi-bold:600;
$medium:500;
$regular:400;
$light:300;