
// Colors
$cPrimary: #041959;
$cSecondary: #1DD3B0;
$cPurple: #435EFF;
$cWhite: #fff;
$cBlack: #000;

$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";


// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;


// Font Family
$FontText: basic-sans, sans-serif;
$FontSonderSlab: 'SonderSlab';